<tr class="<%= label[:overweight] > 0 ? 'bg-warning' : '' %>">
  <td><%= label[:tracking_number] %></td>
  <td><%= label[:used_weight] %></td>
  <td><%= label[:real_weight] %></td>
  <td><%= label[:overweight] %></td>
  <td><%= label[:note] %></td>
</tr>
